<div class="container">
<section class="main-header">
<center>
  <a href="tweets/new"><img src="<%= asset_path "logo.png" %>"></a>
</center>
</section>
<div id="page-top-btn" class="page-top-btn">
    <p><a class="move-page-top" id="move-page-top">▲</a></p>
</div>
<section class="about">
  <h1>Twitter へようこそ</h1>
  <p>
     Twitterは、つぶやきを通じて繋がるSNSアプリです。<br>
     普段の気持ちをつぶやいたり、フォロワーとのメッセージで多くの人と繋がりましょう。
     <li><%= link_to "つぶやいてみる", new_tweet_path, class: 'btn btn-default btn-block'%></li><br>
     <li><%= link_to "つぶやきをみる", tweets_path, class: 'btn btn-default btn-block' %></li>
  </p>
</section>
</br>
</div>
